table{
    width: 60%;
    position: relative;
    left: 20%;
    border-spacing: 20px;
    margin-top: 5%;
    text-align: center;
    

}

 table thead{
    background-color: brown;
    border-width: 1ppx
}

td{
    border: 0.5spx solid black;
    background-color: cornflowerblue;
}